@import "bourbon"

@media only screen and (min-width : 590px)
	.header
		padding: 20px
		&__logo
			font-size: 32px
			&::before
				width: 50px
				height: 50px
		&__sign
			font-size: 24px

	.comments__title
		font-size: 24px

	.review
		&__ava
			width: auto
		&__tail
			margin-left: 115px
		&__comment,
		&__name
			font-size: 18px

	.popup
		&__close
			right: -35px

	.stack
		cursor: default
		&__info
			top: 39%
			min-width: 180px
			padding: 10px 15px

	.timer
		font-size: 50px
	.attempts
		font-size: 18px
		strong
			font-size: 24px