@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #eef3fa;
  background-image: url(../img/bg.png);
  background-position: 50% 50%;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.layout {
  max-width: 530px;
  padding: 20px 15px;
  margin: 0 auto;
}

.layout__swips {
  margin-top: 30px;
  margin-bottom: 5px;
}

.header {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  padding: 15px;
  text-align: center;
}

.header__logo {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1;
  color: #ff0054;
  font-weight: 700;
  margin: 0;
}

.header__logo::before {
  content: '';
  width: 35px;
  height: 35px;
  background-color: #b9b9b9;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin-right: 10px;
}

.header__sign {
  font-size: 18px;
  color: #0011b7;
  margin: 5px 0 0;
  font-weight: 400;
}

.stack {
  position: relative;
  cursor: none !important;
}

.stack__cards, .stack__pics {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.stack__pics {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stack__card, .stack__pic {
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-bottom: 30px;
}

.stack__card:nth-child(odd), .stack__pic:nth-child(odd) {
  margin-right: 30px;
}

.stack__info {
  position: absolute;
  top: 37%;
  left: 50%;
  z-index: 5;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  min-width: 150px;
  width: 30%;
  -webkit-transition: all .2s .2s ease-in-out;
  -o-transition: all .2s .2s ease-in-out;
  transition: all .2s .2s ease-in-out;
  -webkit-transform: translate3d(-50%, 0, 0) scale(0);
  transform: translate3d(-50%, 0, 0) scale(0);
}

.stack__info::after, .stack__info::before {
  content: '';
  position: absolute;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  top: 100%;
}

.stack__info::after {
  height: 5px;
  right: 5px;
  left: 5px;
}

.stack__info::before {
  height: 10px;
  left: 10px;
  right: 10px;
}

.stack.e-start .eraser {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  top: auto;
  right: auto;
  left: auto;
}

.stack.e-start .stack__info {
  -webkit-transform: translate3d(-50%, 0, 0) scale(1);
  transform: translate3d(-50%, 0, 0) scale(1);
}

.stack.e-hide .eraser {
  opacity: 0;
}

.attempts {
  margin: 0;
  color: #ff0054;
  font-size: 15px;
}

.attempts strong {
  font-size: 18px;
  display: block;
  line-height: 1;
}

.card {
  padding-top: 120%;
  position: relative;
  border-radius: 3px;
  color: #fff;
  background-color: currentColor;
}

.card::after, .card::before {
  content: '';
  position: absolute;
  background-color: currentColor;
  border-radius: 0 0 3px 3px;
}

.card::after {
  height: 5px;
  right: 5px;
  left: 5px;
  opacity: .6;
}

.card::before {
  height: 10px;
  left: 10px;
  right: 10px;
  opacity: .3;
}

.eraser {
  position: relative;
  z-index: 1;
  -webkit-transition: opacity .5s ease-in-out, -webkit-transform 1s linear;
  transition: opacity .5s ease-in-out, -webkit-transform 1s linear;
  -o-transition: transform 1s linear, opacity .5s ease-in-out;
  transition: transform 1s linear, opacity .5s ease-in-out;
  transition: transform 1s linear, opacity .5s ease-in-out, -webkit-transform 1s linear;
}

.eraser.active {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 1 !important;
}

.eraser__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 3px;
}

.eraser__pic {
  position: absolute;
  background-image: url(../img/card-loose.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.eraser--phone {
  z-index: 4;
}

.eraser--phone .eraser__pic {
  background-image: url(../img/card-prize.png);
}

.eraser:nth-child(1) {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  top: 15px;
  left: 15px;
}

.eraser:nth-child(2) {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  top: 30px;
  right: 15px;
}

.eraser:nth-child(3) {
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  left: 15px;
}

.eraser:nth-child(4) {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  right: 15px;
}

.comments {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
}

.comments__title {
  text-align: center;
  font-size: 22px;
  color: #ff0054;
  margin: 0 0 20px;
}

.comments__item {
  margin-top: 25px;
}

.review {
  clear: both;
  min-height: 50px;
}

.review__ava {
  float: left;
  border-radius: 50%;
  width: 50px;
}

.review__tail {
  margin-left: 65px;
}

.review__comment {
  font-size: 15px;
  color: #0011b7;
  line-height: 1.2;
  margin: 0 0 8px;
}

.review__name, .review__date {
  text-align: right;
  margin: 0;
  color: #9da9b5;
}

.review__name {
  font-size: 15px;
  font-weight: 700;
}

.popup {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(160, 163, 168, 0.5);
  display: none;
}

.popup.showed .popup__panel {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.popup--freeze {
  display: block;
}

.popup--freeze .popup__panel {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.popup__overlay {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.popup__wrapper {
  vertical-align: top;
  padding: 15px;
}

.popup__panel {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  position: relative;
  padding: 30px 15px;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.popup__panel *:last-child {
  margin-bottom: 0;
}

.popup__close {
  position: absolute;
  top: -35px;
  right: 0;
  background-image: url(../img/close-icon.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0;
  background-color: #fff;
  line-height: 1;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.popup__close:hover {
  background-size: 15px;
}

.popup__text, .popup__rules {
  font-size: 18px;
  color: #0011b7;
  line-height: 1.2;
  text-align: center;
}

.popup__rules {
  font-weight: 700;
  line-height: 1.4;
}

.popup__pic {
  margin: 0 auto 20px;
  display: block;
  max-width: 75%;
}

.popup__title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 24px;
  color: #ff0054;
}

.timer {
  font-size: 30px;
  font-weight: 700;
  color: #ff0054;
  line-height: 1;
  margin: 0;
  text-align: center;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  background-color: #ffa857;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa857), to(#fe5a73));
  background-image: -o-linear-gradient(left, #ffa857, #fe5a73);
  background-image: linear-gradient(to right, #ffa857, #fe5a73);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(255, 255, 255, 0.33), 0 -15px 25px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -4px 0 rgba(255, 255, 255, 0.33), 0 -15px 25px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: table;
  margin: 25px auto;
  text-decoration: none;
  border: none;
  padding: 0;
}

.btn__sign {
  padding: 15px 30px;
  display: inline-block;
}

.btn__icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/arrow-icon.png);
  background-size: auto 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0 30px;
  width: 55px;
  height: 15px;
  border-left: 2px solid rgba(255, 255, 255, 0.33);
}

.btn:hover {
  -webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.15);
}

.btn:hover .btn__icon {
  background-position: 60% 50%;
}

#cursor {
  position: absolute;
  z-index: 6;
  left: -100px;
  cursor: none !important;
  pointer-events: none;
  display: none;
}

@media only screen and (min-width: 590px) {
  .header {
    padding: 20px;
  }
  .header__logo {
    font-size: 32px;
  }
  .header__logo::before {
    width: 50px;
    height: 50px;
  }
  .header__sign {
    font-size: 24px;
  }
  .comments__title {
    font-size: 24px;
  }
  .comments__item {
    margin-top: 35px;
  }
  .review {
    min-height: 100px;
  }
  .review__ava {
    width: auto;
  }
  .review__tail {
    margin-left: 115px;
  }
  .review__comment, .review__name {
    font-size: 18px;
  }
  .popup__close {
    right: -35px;
  }
  .popup__wrapper {
    padding: 90px 15px;
  }
  .popup__pic {
    max-width: none;
  }
  .stack {
    cursor: default;
  }
  .stack__info {
    top: 39%;
    min-width: 180px;
    padding: 10px 15px;
  }
  .timer {
    font-size: 50px;
  }
  .attempts {
    font-size: 18px;
  }
  .attempts strong {
    font-size: 24px;
  }
}
