doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			section.layout
				.layout__header
					header.header fbzfd
				.layout__swips
					section.stack
						aside.stack__timer.timer
							.timer__time.js-timer
							.timer__left
								strong.js-attempts
						.stack__pics
							.stack__pic.eraser.eraser--phone
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
						.stack__cards
							.stack__card
								.card.card--color-2-1
							.stack__card
								.card.card--color-2-2
							.stack__card
								.card.card--color-2-3
							.stack__card
								.card.card--color-2-4
				.layout__comments
					section.comments
		script(src="js/jquery.eraser.CUSTOMIZED.js")
		script(src="js/common.js")
