doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			section.layout
				.layout__header
					header.header
						p.header__logo BRANDNAME
						h1.header__sign Выбери коробку и выиграй телефон!
				.layout__swips
					section.stack
						aside.stack__info
							.info
								p.timer.js-timer 00:00
								p.attempts Осталось призов:
									strong.js-prizes 3
						.stack__pics
							.stack__pic.eraser.eraser--phone
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
						.stack__cards
							.stack__card
								.card
							.stack__card
								.card
							.stack__card
								.card
							.stack__card
								.card
				.layout__comments
					section.comments
						h2.comments__title Комментарии
						ul.comments__list
							li.comments__item.review
								img.review__ava(src="img/ava-1.jpg", alt="")
								.review__tail
									p.review__comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									p.review__name — Lorem ipsum dolor sit
									p.review__date 5 минут назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									p.review__name — Lorem ipsum dolor sit
									p.review__date 27 минут назад
			aside.popup#popupWin
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								img.popup__pic(src="img/prize.png", alt="")
								.popup__timer
									p.timer.js-timer 00:00
								a.popup__btn.btn(href="")
									span.btn__sign Перейти
									span.btn__icon
								p.popup__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			aside.popup#popupStart
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								img.popup__pic(src="img/rules.png", alt="")
								ul.popup__rules
									li 1. Далеко-далеко за словесными горами в стране.
									li 2.Cловесными горами в стране.
									li Далеко-далеко за 
								button.popup__btn.btn.js-start
									span.btn__sign Понятно
									span.btn__icon
			aside.popup#popupLoose
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								h2.popup__title Oh noooo((
								p.popup__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								button.popup__btn.btn.js-restart
									span.btn__sign Еще раз
									span.btn__icon
		<!-- НЕ ТРОГАТЬ, НЕ ЗАМЕНЯТЬ - ВСЕ ПОЛЕТИТ. ПЛАГИН ПЕРЕПИСАН-->
		script(src="js/jquery.eraser.CUSTOMIZED.js")
		script(src="js/common.js")
