doctype html
html

	head
		meta(charset='utf-8')
		title Choose a box and win a phone!
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")

	body
		.w-page

			<!-- КУРСОР -->
			img(src="img/cursor.png", alt="")#cursor
			<!-- // -->

			section.layout
				.layout__header

					<!-- ШАПКА -->
					header.header
						.header__top
							p.header__logo BRANDNAME
							p.header__timer.timer.js-timer 08:00
							p.header__attempts.attempts Prizes remaining:
								span.js-prizes 5
						h1.header__sign.active Answer several simple questions!
						h1.header__sign Choose a box and win a phone!
					<!-- // -->

				.layout__questions

					<!-- ВОПРОСЫ -->
					section.questions
						.questions__content
							.questions__top
								.questions__pics
									img(src="img/pic-1.jpg", alt="").questions__pics-item.active
									img(src="img/pic-2.jpg", alt="").questions__pics-item
									img(src="img/pic-3.jpg", alt="").questions__pics-item
									img(src="img/pic-4.jpg", alt="").questions__pics-item
									img(src="img/pic-5.jpg", alt="").questions__pics-item
							.questions__bottom
								ul.questions__propgress.propgress
									li.progress__item.active
									li.progress__item
									li.progress__item
									li.progress__item
									li.progress__item
								ul.questions__questions
									li.questions__questions-item.active What thing about iPhone changed the users’ idea of a smartphone?
									li.questions__questions-item What’s the most popular smartphone OS?
									li.questions__questions-item Which country’s national sport is mobile phone throwing?
									li.questions__questions-item Which country produces more than 90% of waterproof smartphones?
									li.questions__questions-item What year were the first mobile phones sold?
								.questions__answers
									ul.questions__answers-list.active
										li.questions__answer(data-right="true")
											button.questions__btn Touch screen
										li.questions__answer
											button.questions__btn Application Store
										li.questions__answer
											button.questions__btn Flat Design
										li.questions__answer
											button.questions__btn Retina Display
									ul.questions__answers-list
										li.questions__answer
											button.questions__btn iOS
										li.questions__answer(data-right="true")
											button.questions__btn Android
										li.questions__answer
											button.questions__btn Windows Mobile
										li.questions__answer
											button.questions__btn Symbian
									ul.questions__answers-list
										li.questions__answer
											button.questions__btn Chile
										li.questions__answer
											button.questions__btn Somalia
										li.questions__answer
											button.questions__btn Vietnam
										li.questions__answer(data-right="true")
											button.questions__btn Finland
									ul.questions__answers-list
										li.questions__answer(data-right="true")
											button.questions__btn Japan
										li.questions__answer
											button.questions__btn Ireland
										li.questions__answer
											button.questions__btn Indonesia
										li.questions__answer
											button.questions__btn Argentina
									ul.questions__answers-list
										li.questions__answer(data-right="true")
											button.questions__btn 1983
										li.questions__answer
											button.questions__btn 1979
										li.questions__answer
											button.questions__btn 1986
										li.questions__answer
											button.questions__btn 1994
					<!-- // -->

				.layout__counting

					<!-- ПОДСЧЕТ СТАТЫ -->
					section.counting
						.counting__loader.loader
							p.loader__status 
								span Checking your answers...
								strong.loader__percentage 0%
							.loader__progress
								span.loader__completeProgress
						ul.counting__list
							li.counting__item 
								p Checking your answers
								strong (#[span.js-rightAnswers 0]/#[span.js-totalAnswers 0])
							li.counting__item 
								p Checking your IP for duplicate addresses
								strong Not detected
							li.counting__item 
								p Checking prize availability
								strong Available
					<!-- // -->

				.layout__results

					<!-- РУЗЛЬТАТЫ ОПРОСА -->
					section.results
						p.results__title You answered all the questions perfectly!
						.results__box
							img.results__pic(src="img/scratch-pic.png", alt="")
							p.results__text You’re just a step away from the prize! Scratch off the coating and win it! You have just 3 attempts!
							button.results__btn.btn.js-startSecondStep Start a game!
					<!-- // -->

				.layout__swips
					section.stack

						<!-- ОБЛАКО -->
						.stack__cloud 
							span Scratch
						<!-- // -->

						<!-- ГИФКА -->
						img(src="img/shuffle.gif", alt="").stack__gif
						<!-- // -->

						<!-- КАРТОЧКИ -->
						.stack__pics
							.stack__pic.eraser.eraser--phone
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
						.stack__cards
							.stack__card
								.card
							.stack__card
								.card
							.stack__card
								.card
							.stack__card
								.card
						<!-- // -->

				.layout__comments
				
					<!-- КОММЕНТЫ -->
					section.comments
						h2.comments__title Comments
						ul.comments__list
							li.comments__item.review
								img.review__ava(src="img/1.jpg", alt="")
								.review__tail
									p.review__comment Yeah! I’ve finally hit the jackpot!!
									p.review__name — Sentimo
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/2.jpg", alt="")
								.review__tail
									p.review__comment Come here prize!
									p.review__name — Edward Baldomero
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/3.jpg", alt="")
								.review__tail
									p.review__comment I only get these poos :(((
									p.review__name — Amelia P.
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/4.jpg", alt="")
								.review__tail
									p.review__comment Do you pick them out randomly? Hey you can trace it, I succeeded on the second try.
									p.review__name — Maribeth
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/5.jpg", alt="")
								.review__tail
									p.review__comment It’s easy to trace it
									p.review__name — Garry
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/6.jpg", alt="")
								.review__tail
									p.review__comment Great, I won!!
									p.review__name — Don Alayo
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/7.jpg", alt="")
								.review__tail
									p.review__comment +1
									p.review__name — Jesabel Campana
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/8.jpg", alt="")
								.review__tail
									p.review__comment A good present for my own birthday :)
									p.review__name — Elma
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/9.jpg", alt="")
								.review__tail
									p.review__comment They’ve already called me, I’ll get it delivered in 4 days!
									p.review__name — Abram
									p.review__date a moment ago
							li.comments__item.review
								img.review__ava(src="img/10.jpg", alt="")
								.review__tail
									p.review__comment OMG!!
									p.review__name — Clarence
									p.review__date a moment ago
					<!-- // -->

			<!-- ФУТЕР -->
			footer.footer #[span.ryear], © Copyright
			<!-- // -->

			<!-- ПОПАП ВЫИГРЫША -->
			aside.popup#popupWin
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								h2.popup__title Congratulations, you’re a winner!
								img.popup__pic(src="img/prize.png", alt="")
								.popup__timer
									p.timer.js-timer 00:00
								a.popup__btn.btn(href="") Get a prize
								p.popup__text Please provide your contacts to get a prize. #[br]Hurry up.
			<!-- // -->

			<!-- ПОПАП СТАРТА -->
			aside.popup#popupStart
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								h2.popup__title Congratulations! You were chosen to win (5) prize! Follow the guide below:
								ul.popup__rules.rules
									li.rules__item.rules__item--1 #[p 1. Answer the quiz questions.]
									li.rules__item.rules__item--2 #[p 2. Try Your luck and scratch 1 of 4 coloured squares.]
									li.rules__item.rules__item--3 #[p 3. Don't forget to provide your contacts to get a prize!]
								button.popup__btn.btn.js-start Start!
			<!-- // -->
			
			<!-- ПОПАП ПРОИГРЫША -->
			aside.popup#popupLoose
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								h2.popup__title Be attentive!
								img.popup__pic(src="img/loose.gif", alt="")
								p.popup__text You have 2 more attempts
								button.popup__btn.btn.js-restart Continue
			<!-- // -->

		<!-- НЕ ТРОГАТЬ, НЕ ЗАМЕНЯТЬ - ВСЕ ПОЛЕТИТ. ПЛАГИН ПЕРЕПИСАН -->
		script(src="js/jquery.eraser.CUSTOMIZED.js")
		script(src="js/common.js")
