doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			img(src="img/cursor.png", alt="")#cursor
			section.layout
				.layout__header
					header.header
						p.header__logo BRANDNAME
						h1.header__sign Выбери коробку и выиграй телефон!
				.layout__swips
					section.stack
						aside.stack__info
							.info
								p.timer.js-timer 00:00
								p.attempts Осталось призов:
									strong.js-prizes 3
						.stack__pics
							.stack__pic.eraser.eraser--phone
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
							.stack__pic.eraser
								.eraser__pic
								img.eraser__layer(src="img/fake-img.png", alt="")
						.stack__cards
							.stack__card
								.card
							.stack__card
								.card
							.stack__card
								.card
							.stack__card
								.card
				.layout__comments
					section.comments
						h2.comments__title Комментарии
						ul.comments__list
							li.comments__item.review
								img.review__ava(src="img/ava-1.jpg", alt="")
								.review__tail
									p.review__comment ЕЕЕЕ! Наконец-то повезло!!
									p.review__name — Sentimo
									p.review__date 5 минут назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment Приз, иди ко мне!!
									p.review__name — Edward Baldomero
									p.review__date 7 минут назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment У меня почему-то одни какашки :(((
									p.review__name — Amelia P.
									p.review__date 16 минут назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment Ты наугад что ли тычешь?) Можно отследить, у меня со второй попытки получилось
									p.review__name — Maribeth
									p.review__date 31 минуту назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment Отследить элементарно
									p.review__name — Garry
									p.review__date 1 час назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment Кайф, я выиграл!!
									p.review__name — Don Alayo
									p.review__date 1 час назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment +1
									p.review__name — Jesabel Campana
									p.review__date 2 час назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment Нормальный подарок на день рождения себе))
									p.review__name — Elma
									p.review__date 3 час назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment А мне уже отзвонились, через 4 дня получаю!
									p.review__name — Abram
									p.review__date 5 часов назад
							li.comments__item.review
								img.review__ava(src="img/ava-2.jpg", alt="")
								.review__tail
									p.review__comment ОфигетЬ!
									p.review__name — Clarence
									p.review__date 7 часов назад
			aside.popup#popupWin
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								h2.popup__title Поздравляем, ты - победитель!
								img.popup__pic(src="img/prize.png", alt="")
								.popup__timer
									p.timer.js-timer 00:00
								a.popup__btn.btn(href="")
									span.btn__sign Забрать приз
									span.btn__icon
								p.popup__text Оставь свои контакты для получения приза. #[br]Торопись, время на ограничено!
			aside.popup.popup--freeze#popupStart
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								img.popup__pic(src="img/rules.png", alt="")
								ul.popup__rules
									li 1. Проследи, в каком квадрате спрятан приз	
									li 2. Сотри защитный слой и забери приз себе!
									li У тебя всего 3 попытки!
								button.popup__btn.btn.js-start
									span.btn__sign Старт!
									span.btn__icon
			aside.popup#popupLoose
				table.popup__overlay
					tr
						td.popup__wrapper
							.popup__panel
								h2.popup__title Следи внимательнее!
								img.popup__pic(src="img/loose.png", alt="")
								p.popup__text У тебя еще 2 попытки
								button.popup__btn.btn.js-restart
									span.btn__sign Продолжить
									span.btn__icon
		<!-- НЕ ТРОГАТЬ, НЕ ЗАМЕНЯТЬ - ВСЕ ПОЛЕТИТ. ПЛАГИН ПЕРЕПИСАН-->
		script(src="js/jquery.eraser.CUSTOMIZED.js")
		script(src="js/common.js")
